@charset 'utf-8';
/* mobile priority */
/* sec01 */
.sec01{
  padding-top: 70px;
}
.sec01 .full-container{
  position: relative;
  z-index: 1;
}
.main-banner .view-more{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 132px;
  height: 43px;
  border: 1px solid var(--gray-222);
  background: transparent;
  font-weight: 600;
  color: var(--gray-222);
  text-transform: uppercase;
  cursor: pointer;
}
.main-banner .view-more:hover{
  border: none;
  color: var(--gray-f01);
  background: var(--main-color);
  text-decoration: underline;
  transition: 0.2s;
}
.main-banner .pagination{
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  padding-bottom: 5px;
  text-align: center;
  z-index: 100;
}
.main-banner .pagination span{
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 3px;
  border-radius: 5px;
  background: var(--gray-f02);
  text-indent: -9999px;
  cursor: pointer;
}
.main-banner .pagination span.active{
  width: 27px;
  background: var(--gray-f01);
}
.main-banner .pagination span:hover{
  background: var(--main-color);
}
.banner02,.banner03{
  display: none;
}

/* sec02 */
.sec02 .container{
  /* display: grid; */
  grid-template-columns:auto;
  padding: 70px 20px;
}
.sec02 .article01{
  width: 100%;
}
.sec02-tit{
  padding-bottom: 32px;
  font-weight: 700;
  font-size: 31px;
  line-height: 1.3em;
  text-transform: uppercase;
}
.sec02-menu-story{
  font-weight: 700;
  font-size: 18px;
  color: var(--gray-999);
  text-transform: uppercase;
}
.sec02-menu-story li{
  padding-bottom: 9px;
}
.sec02-menu-story li:last-child{
  padding-bottom: 70px;
}
.sec02-menu-story li:hover{
  color: var(--gray-000);
  text-decoration: underline;
}
.sec02 .article02{
  width: 100%;
  padding: 0 24px;
}
.card{
  border: 1px solid #f2f2f2;
}
.swiper-wrapper{
  padding-bottom: 46px;
}
.swiper-navigation-wrapper{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 17px;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev,.swiper-button-next{
  width: 17px;
  padding: 0 16px;
  background: url(../images/ico-btn-prev.png) no-repeat center;
  text-indent: -9999px;
}
.swiper-button-next{
  background: url(../images/ico-btn-next.png) no-repeat center;
}
.menu-tit{
  font-family: 'Code Bold',sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.menu-tit span{
  display: none;
}
.menu-tit span.active{
  display:inline;
}

/* sec03 */
.sec03 .full-container{
  position: relative;
}
.m-order-now{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  border: 1px solid var(--gray-222);
  padding: 15px 0;
  background: transparent;
  font-weight: 600;
  color: var(--gray-222);
  text-transform: uppercase;
  cursor: pointer;
}
.m-order-now:hover{
  background: var(--main-color);
  border: none;
  color: var(--gray-f01);
  text-decoration: underline;
  transition: 0.2s;
}
.d-order-now{
  display: none;
  width: 120px;
  border: none;
  position: absolute;   
  left:13%;
  top:72%;
  height: 16px;
  cursor: pointer;
}
.d-order-now img{
  width: 78px;
}

/* sec04 */
.franchise-news-notice-wrap{
  background: #f9f6f0;
}
.franchise,.news-notice{
  float:left;
  width:100%;
}
.sec04 .container,.sec05 .container{
  padding: 65px 20px;
  background: #f9f6f0;
}
.sec04 .container{
  border-bottom: 1px solid var(--gray-999);
}
.sec04 h2,.sec05 h2{
  display: block;
  padding-bottom: 25px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.sec04 p{
  padding-bottom: 3em;
}
.btn-franchise{
  display: grid;
  grid-template-columns: repeat(2,auto);
  align-items: center;
  gap: 15px;
  border: 1px solid var(--gray-ccc);
  padding: 12px 17px;      
  background: var(--gray-f01);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-franchise img{
  width: 29px;
}
.btn-franchise:hover{
  /* transform: scale(1.1); */
  animation: btn-franchise 1s 3;
}

/* sec05 */
.notice-tit{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 4px;
}
.notice-date{
  padding-bottom: 15px;
  font-size: 14px;
  color: var(--gray-333);
}
.notice-wrapper li:last-of-type .notice-date{
  padding-bottom: 0;
}

/* responsive; tablet(780px) */
@media (min-width:780px){
  /* sec01 */
  .sec01{
    padding-top: 120px;
  }
  .main-banner .full-container{
    height: 35vw;
  }
  .sec01 .img-box{
    position: absolute;
    right: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
  }
  .sec01 .img-box.active{
    opacity: 1;
  }
  .main-banner .view-more{
    display: none;
  }
  .main-banner .pagination{
    display: block;
  }
  .banner02,.banner03{
    display: block;
  }

  /* sec02 */
  .sec02 .container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 20px;
    padding: 46px 20px;
  }
  .sec02 .article01{
    /* width: 50%; */
    grid-column: 1/5;
    padding: 50px 0;
  }
  .sec02-menu-story li:last-child {
    padding-bottom: 0;
  }
  .sec02 .article02{
    /* width: 50%; */
    grid-column: 5/-1;
    padding-top: 9px;    
  }
  .card{
    border: none;
    overflow: visible;
  }
  .article02 .coffe-menu01,.article02 .coffe-menu02,.article02 .coffe-menu03{
    width: 273px;
    margin-right: 30px;
    border: 1px solid #f2f2f2;
  }
  .article02 .coffe-menu02,.article02 .coffe-menu03{
    width: 176px;
    margin-top: 85px;
  }
  .swiper-navigation-wrapper{
    width: 273px;
    height: 48px;
  }

  /* sec03 */
  .m-order-now{
    display: none;
  }
  .d-order-now{
    display: block;
  }

  /* sec04 */
  /* 2024-01-27 수정 */
  .franchise-news-notice-wrap{
    position: relative;
  }
  .franchise-news-notice-wrap::after{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);
    width: 1px;
    height: 235px;
    background: var(--gray-999);
  }
  .franchise,.news-notice{
    width:50%;
  }
  .sec04 .container,.sec05 .container{
    height: 335px;
    padding: 45px 30px;
  }
  .sec04 .container{
    border-bottom: none;
    /* border-right: 1px solid var(--gray-999); */
  }
}

/* responsive; tablet(1100px) */
@media (min-width:1100px){
  /* sec01 */
  .main-banner .full-container{
    height: 450px;
  }  
  .sec01 .img-box img{
    height: 450px;
    object-fit: cover;
  }
  .main-banner .pagination span{
    width: 10px;
    height: 10px;
    margin: 0 4px;
  }
  .main-banner .pagination span.active{
    width: 30px;
    height: 10px;
  }

  /* sec02 */
  .sec02 .container{
    grid-template-columns: repeat(12,1fr);
    /* padding: 110px 20px; */
    padding: 100px 20px;
  }
  .sec02 .article01{
    grid-column: 1/7;
    padding: 51px 0;
  }
  .sec02-tit{
    padding-bottom: 62px;
    font-size: 40px;
    line-height: 1.2em;
    text-transform: uppercase;
  }
  .sec02-menu-story{
    font-size: 26px;
  }
  .sec02 .article02{
    grid-column: 7/-1;
    padding-top: 19px;
  }
  .article02 .coffe-menu01,.article02 .coffe-menu02,.article02 .coffe-menu03{
    width: 340px;
  }
  .article02 .coffe-menu02,.article02 .coffe-menu03{
    width: 176px;
    margin-top: 145px;
  }
  .swiper-navigation-wrapper{
    width: 340px;
  }
  .menu-tit{
    font-size: 21px;
  }

  /* sec03 */
  .sec03 .img-box img{
    height: 400px;
    object-fit: cover;
  }
  .d-order-now{
    top:284px;
    left:50%;        
    transform: translateX(-440px);
  }
  .d-order-now img{
    width: 128px;
  }

  /* sec04 */
  .sec04 .container,.sec05 .container{
    height: 373px;
    padding: 64px 30px;
  }
  .sec04 p{
    padding-bottom: 4.5em;
  }
}

@keyframes btn-franchise{
  50%{opacity: 0;scale: 1;}
  100%{opacity: 1;scale: 1.1;}
}
